.details-view {
  border: 5px solid rgb(155, 177, 177);
  border-radius: 10px;
  background-color: azure;
  padding: 2rem;
  margin: 1.5rem;
  height: 100vh;
}

.read-more-button {
  border-radius: 50px;
  border: none;
  background-color: rgb(155, 177, 177);
  height: 1.5rem;
  width: 10rem;
}

a {
  color: white;
  text-decoration: none;
}

.read-more-button:hover {
  transition: 0.3s;
  transform: scale(1.05);
}